<html>
<head>
</head>
<body>
{{s.Emp_name}} Details<br>
<table border='1'>
<tr><td>Employer name</td><td>{{s.Emp_name}}</td></tr>
<tr><td>Employer id</td><td>{{s.Emp_id}}</td></tr>
<tr><td>Department</td><td>{{s.Department}}</td></tr>
<tr><td>Date of join</td><td>{{s.Date_join}}</td></tr>
<tr><td>Role</td><td>{{s.Role}}</td></tr>
<tr><td>Salary</td><td>{{s.Salary}}</td</tr>
<!--<tr><td>Vacant Id</td><td>{{s.Vacant_id_id}}</td></tr>
<tr><td>Education</td><td>{{s.Education}}</td></tr>
<tr><td>Experience</td><td>{{s.Experience}}</td></tr>-->
</table>
<a href='/'>Home</a>
</body>
</html>

