<html>
<head>
<title>Scalers And Vectors</title>
<head>
<style>
p{
color:blue;
font-size:18px;
margin:20px;
}
</style>
</head>
<body>
<center><p>Scalers and vectors innovation pvt ltd</p></center>
<p>company description:</p>
<p>Job description:</p>
<pre>* Programer with good knowledge in python programing.
And have to work in various shifts, responsible for develop
individual programs and must have to work with team.
</pre>
<p>Skills required:</p>
Java,c,python,Django,mysql.<br>
<h5>Available positions:3</h5>
if you are suitable for this requirement then please register 
<a href='add'>here</a>
</body>
</html>
